:root {
    --background: rgba(255, 255, 255, 1);
    --title-color: #626262;
    --nav-color: #7D7D7D;
    --text-color: #B4AD9E;
    --accent: #03A9F4;
}

:root {
    --main-font: "Playfair Display", sans-serif;
    --second-font: "Ubuntu", sans-serif;
}