/* header */
.header {
    padding-top: 71px;
    padding-bottom: 92px;
}

.header-list {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.header-link {
    text-transform: uppercase;
    color: var(--nav-color);
}

.header-link:hover {
    color: var(--accent);
}